# IDE
.vscode
.vs
.idea/
.DS_Store
*.code-workspace
.devcontainer

# nodejs dependencies
node_modules/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.sln.DotSettings.user

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
dist/
!back/src/Auth/wwwroot/lib/bootstrap/dist
!back/src/Auth/wwwroot/lib/jquery/dist
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

.env

.package-lock.json
artifacts
